html, body{
    height:100%;
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 80, 80);
}

.container{
    background-color: rgb(0, 0, 0);
    width:300px;
    height:100%;
    position: fixed;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-r{
    background-color: rgb(0, 0, 0);
    width:300px;
    height:100%;
    position: fixed;
    right:0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row-1, .row-2, .row-3{
    box-sizing: border-box;
    height:30%;
    margin:0px;
    display:flex;
    justify-content: space-around;
}

button{
margin:0px;
padding:0px;
width: 30%;
height: 100%;
border:0;
background-color: rgb(21, 21, 21);
color:rgb(245, 245, 245);
text-align:center;
border-radius:10px;
}

button:hover{
    background-color: rgb(35, 35, 35);
}

button:active{
    background-color: rgb(48, 48, 48);
}

#menu{
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    width:100%;
    height:100%;
    display: flex;
    flex-direction:row;
    padding:20px;
}